/* ===== banner ==== */
.banner-main{
    background: #defffd;
}
.banner-heading{
    font-size: 50px;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
    font-family: 'Poppins';
}
.banner-image{
    border: 1px solid #ecebeb81;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #ecebeb81;
}

.banner-image img{
    height: 100%;
    width: 100%;
}

/* ==== key features ==== */
.card__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 50px; */
    gap: 20px;
}
.card-img-top{
    height: 20%;
    width: 20%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #ecebeb81;
}
.key__features__title{
    font-size: 30px;
    /* font-weight: 700; */
    color: #000;
    margin-bottom: 30px;
    font-family: 'Poppins';
    text-align: center;
    padding: 20px;
}

.feature__titleName{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    font-family: 'Poppins';
    padding: 10px;
}

.feature__description{
    font-size: 15px;
    font-weight: 400;
    color: #000;
    font-family: 'Poppins';
    padding: 10px;
}

.icon_class{
    padding-inline-start: 13px;
}

.key_card:hover{
    box-shadow: 0px 0px 4px 0px #ecebeb81;
    transition: 0.5s ease-in-out;
    /* border: 1px solid #ecebeb81; */
    transform: scale(1.1);
    cursor: pointer;
    
}
.features_height{
    height: 240px !important;
    /* width: 100%; */
}

/* === footer === */
.footer{
    background: #34495e;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Poppins';
    margin-top: 50px;
}

.footer__social{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
}